
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fafbfc;
}

.auth-layout {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content {
    z-index: 10;
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-header {
    text-align: center;
}

.logo {
    width: 80px;
    margin: 10px auto;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
}

.input-icon {
    margin-top: 10px;

    position: relative;
}

.input-icon input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #A48374;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #CBAD8D;
}

.card-footer {
    margin-top: 10px;
}

.card-footer a {
    text-decoration: none;
    color: #A48374;
}

/* Blob Background */
.blob-container {
    position: absolute;
    bottom: 0;
    width: 170%;
    height: 100%;
    z-index: 0;
}
